In [2]:
import pandas as pd
import numpy as np

In [3]:
events_df = pd.read_csv("C:\\Users\\luca_\\Desktop\\Py Training\\Power BI\\Maven Cafe Challenge\\Cafe+Rewards+Offers\\events.csv")

In [8]:
events_df

,customer_id,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714

In [6]:
offer_received = events_df[events_df['event']=='offer received']

In [7]:
offer_completed = events_df[events_df['event']=='offer completed']
offer_viewed = events_df[events_df['event']=='offer viewed']
transactions = events_df[events_df['event']=='transaction']

In [12]:
offer_received.to_csv("C:\\Users\\luca_\\Desktop\\Py Training\\Power BI\\Maven Cafe Challenge\\offers_received.csv")
offer_completed.to_csv("C:\\Users\\luca_\\Desktop\\Py Training\\Power BI\\Maven Cafe Challenge\\offer_completed.csv")
offer_viewed.to_csv("C:\\Users\\luca_\\Desktop\\Py Training\\Power BI\\Maven Cafe Challenge\\offer_viewed.csv")
transactions.to_csv("C:\\Users\\luca_\\Desktop\\Py Training\\Power BI\\Maven Cafe Challenge\\transactions.csv")